{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": "./src/components",
          "@screens": "./src/screens",
          "@navigation": "./src/navigation",
          "@utils": "./src/utils",
          "@styles": "./src/styles",
          "@assets": "./assets"
        }
      }
    ],
    ["module:react-native-dotenv"]
  ]
}